{% load static %}
{% load i18n %}
{% load custom_filters %}

<nav class="navbar fixed-top navbar-expand-lg justify-content-between navbar-light" style="background-color: #e3f2fd;"> <!-- navbar-light bg-light -->


{# left content #}


<a data-toggle="tooltip" title="{{ settings.ORGANIZATION_NAME }}" class="navbar-brand mr-0 mr-md-2" href="/" aria-label="">
	<img src="{% static 'icons/logo.png' %}" height="32" alt="Homepage" class="d-inline-block mr-2">{{ settings.ORGANIZATION_NAME_ABBREVIATED }}
	<i><b>Geoportal</b></i>
</a>



{# centered content #}
<div class="collapse navbar-collapse" id="navbarCollapse">

	<ul class="navbar-nav ml-auto mr-auto">
		{% include "navbar-menu.html" %}
	</ul>

	{# right content #}
	{% if request %} {# LOGIN Box #}

		{# Language selector #}
		<form action="{% url 'set_language' %}" class="mx-1" method="post">
			{% csrf_token %}
			<select class="form-control" data-toggle="tooltip" autocomplete=off title='{% trans "Switch language" %}' data-width="fit" name="language" onchange='this.form.submit();'> {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
				{% for language in languages %}
					<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }}</option>
				{% endfor %}
			</select>
		</form>

		{% include "button-login.html" %}
	{% else %}
		<div class="navbar-text mr-3">{% now "DATETIME_FORMAT" %}</div>
	{% endif %}

</div>


<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>


</nav>
