/* improve tab content appearaance by adding borders */
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 100%;
	/* background-color: #f8f8f8; */
}

.nav-tabs {
	margin-bottom: 0;
}

/* ensure content is 100% height */
html {
	height: 100%;
	overflow: auto;
	background-color: rgba(255,255,255,0);
}

/* ensure content is 100% height */
body {
	height: 100%;
	overflow: auto;
	/* background-color: rgba(255,255,255,0); */
}

main {
	height: 90%; /* fallback if calculation fails */
	height: calc(100% - 4em);
}
