{% load i18n %}{% load static %}


<!--
<label for="{{ layer.slug }}-category" class="sr-only">
	{{ layer.name }}
</label>
-->

{% if layer.categories|length > 1 %}

	<select
			class="form-control"
			id="{{ layer.slug }}-category"
			name="{{ layer.slug }}-category"
			size="1"
			autocomplete="off"
			data-toggle="tooltip"
			title="{{ layer.category.description }}"
		>

		{% for category_options_dict in layer.category_options %}
			<option {% if layer.category.name == category_options_dict.name %}selected{% endif %} value="{{ category_options_dict.slug }}">{{ category_options_dict.label }}</option>
		{% endfor %}

	</select>

	<script>
		document.getElementById("{{ layer.slug }}-category").onchange = function() {
			setGetParameter("{{ layer.slug }}", $(this).find(":selected").val() );
		};
	</script>

{% else %}{# single entry only: #}

	<div class="form-control" id="{{ layer.slug }}-category" name="{{ layer.slug }}-category"
		data-toggle="tooltip"
		title="{{ layer.category.description }}"
		>{{ layer.category.label }}</div>

{% endif %}





