{% load i18n %}{% load static %}


{% for style in styles %}

	<script>
		{{ style.var_ol_style|safe }}
	</script>

	<button type="button" class="btn align-self-center m-0 p-0" data-toggle="tooltip"

		{% if style.extents %}
			onclick="{{ map }}.getView().fit( ol.proj.transformExtent( {{ style.extents }}, 'EPSG:{{ layer.epsg }}', 'EPSG:{{ crs.active.epsg }}' ) );"
			title="{{ style.label }}<br>
			{% if style.description %}{{ style.description }}{% endif %}"
		{% else %}
			title="{{ style.label }}<br>
			{% if style.description %}{{ style.description }}{% endif %}"
		{% endif %}
		>

		<span class="badge badge-light m-0 p-0">
			<img src="{% url 'geometry:icon' layer_slug=layer.slug category_slug=layer.category.slug style_slug=style.slug %}"
				width="{{ settings.GUI_ICON_SIZE_PX }}px"
				height="{{ settings.GUI_ICON_SIZE_PX }}px"
				alt="Style symbol"
			/>
			<span style='color:{{ style.base_color }}'>{{ style.number_of_features }}</span>
		</span>

	</button>

{% endfor %}
