{% load i18n %}
{% load static %}

<ul class="nav nav-tabs justify-content-between">


	{# FIXME: real reverse for url using templatetag #}

	{% for tab in tabs.list %}
		<li class="nav-item">
			<a class="nav-link{% if forloop.counter == tabs.active %} active{% endif %}{% if tab.disabled %} disabled{% endif %}" href="{{ tab.href }}">{{ tab.topic }}{% if forloop.counter == tab.active %} {{ design_horizon }}{% endif %}</a>
		</li>
	{% endfor %}

	<!--
	<li class="nav-item">
		<a class="nav-link {% if active == 2 %}active{% endif %}" href="/sanitation/">{% trans "Sanitation" %} {{ design_horizon }}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link disabled {% if active == 3 %}active{% endif %}" href="/map/">{% trans "Incidents" %}</a>
	</li>

	<li class="nav-item">
		<a class="nav-link disabled {% if active == 4 %}active{% endif %}" href="/map/">{% trans "Hydraulic modelling" %}</a>
	</li>
	-->

	<li class="nav-item ml-auto m-0 p-0">
		{# right content #}

		<span class="navbar-text m-0 p-0">
			<button type="button" class="form-control m-0 p-1 btn btn-sm btn-outline-secondary"
				id="initiate_refresh" name="initiate_refresh" data-toggle="tooltip"
				title="{% trans 'Initiate a manual refresh of the map; e.g. if you know the GIS content has changed, but is not shown here.' %}">
				{% trans 'Refresh' %}
			</button>
			<script>
				document.getElementById('initiate_refresh').onclick = function() {
					setGetParameter('refresh', true );
				};
			</script>
		</span>


		<span class="navbar-text m-0 p-0">
			<select class="form-control m-0 p-1" id="design_horizon_picklist" autocomplete="off" name="design_horizon" size="1" data-toggle="tooltip"
				title="{% trans 'Style map features considering this design horizon.' %} {% trans 'Infrastructure with \"InstallationDate\" later then {{  }} will be styled as proposed.' %}" >
				{% for the_design_horizon in design_horizon.list %}
					<option {% if the_design_horizon == design_horizon.active %}selected{% endif %} value="{{ the_design_horizon }}" >{{ the_design_horizon }}</option>
				{% endfor %}
			</select>
			<script>
				document.getElementById('design_horizon_picklist').onchange = function() {
					wert = document.getElementById("design_horizon_picklist").value;
					setGetParameter('design_horizon', wert );
				};
			</script>
		</span>


		<span class="navbar-text m-0 p-0">
			<div class="form-check">
				<input {% if existing_only %}checked {% endif %}class="form-check-input" type="checkbox" value="" id="existing_only_checkbox" data-toggle="tooltip"
					title="{% trans 'Show only features that are existing in the requested design horizon' %}  ({{ design_horizon.active }}). {% trans 'Will otherwise show proposed and decommissioned features as well.' %} ">
				<label class="form-check-label" for="defaultCheck1">
					{% trans 'Existing only' %}
				</label>
			</div>
			<script>
				document.getElementById('existing_only_checkbox').onchange = function() {
					wert = document.getElementById("existing_only_checkbox").checked;
					setGetParameter('existing_only', wert );
				};
			</script>
		</span>


		<span class="navbar-text m-0 p-0">
			<select class="form-control m-0 p-1" id="crs_picklist" autocomplete="off" name="crs_picklist" size="1" data-toggle="tooltip" title="{% trans 'Coordinate reference system for map' %}" >
				{% for the_crs in crs.list %}
					<option {% if the_crs.epsg == crs.active.epsg %}selected{% endif %} value="{{ the_crs.epsg }}">{{ the_crs.name }}</option>
				{% endfor %}
			</select>
			<script>
				document.getElementById('crs_picklist').onchange = function() {
					wert = document.getElementById("crs_picklist").value;
					setGetParameter('epsg', wert );
				};
			</script>
		</span>

		<span class="navbar-text m-0 p-0">

			<small>
			<button id="export-to-pdf" class="btn btn-sm btn-outline-secondary mx-0 my-0">
				<img src='{% static "icons/gui/print.svg" %}' height="18px" data-toggle="tooltip" title="{% trans 'Printable map' %}";/>
			</button>

			{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script> #}
			{# <script src="{% static 'js/print_button_jspdf.js' %}" crossorigin="anonymous"></script> #}

			</small>

		</span>
	</li>


</ul>
