{% load i18n %}

{% comment %}



{% endcomment %}



<div class="my-0 p-1 flex-column align-items-start alert alert-secondary"
>

	<div class="d-flex w-100 justify-content-between m-0 p-0">

		<div>

			<!-- layer name -->
			<span class="font-weight-bold" data-toggle="tooltip" title="{{ layer.description|safe }}">
				{{ layer.label }}
			</span>


			<!-- Vector download button -->
			{% if not settings.DEBUG %}

				<small>
					<a class="badge badge-secondary" href="{% url 'geometry:kmz' layer_slug=layer.slug %}
						?category={{ layer.category.slug }}&design_horizon={{ design_horizon.active }}&existing_only={{ existing_only }}"
						data-toggle="tooltip"
						title="{% trans 'Download KMZ' %}"
					>KMZ</a>
				</small>

			{% else %}

				<small>
					<a class="badge badge-primary"
						href="{% url 'geometry:kml' layer_slug=layer.slug %}
						?category={{ layer.category.slug }}&design_horizon={{ design_horizon.active }}&existing_only={{ existing_only }}"
						data-toggle="tooltip"
						title="{% trans 'Download KML' %}"
					>KML</a>
				</small>

			{% endif %}

		</div>

		<!-- Category picklist for this layer -->
		<div>
			{% include "mapping/fragment-legend-category.html" %}
		</div>

	</div>

	{# <div class="d-flex w-100 justify-content-between mb-1"> #} {# overflow-auto would make sense here #}
	<div class="w-100 my-1 p-0">
		{% comment %}
			Include the classifications with their styles
		{% endcomment %}

		{% include "mapping/fragment-legend-classification.html" with classifications=layer.category.classifications map=map %}

	</div>

</div>


<script>

	var {{ layer.slug }}_kml = new ol.layer.Vector({
		source: new ol.source.Vector({
			url: "{% url 'geometry:kml' layer_slug=layer.slug %}?category={{ layer.category.slug }}&existing_only={{ existing_only }}&design_horizon={{ design_horizon.active }}",
			format: new ol.format.KML({ extractStyles: false, }),
			crossOrigin: "anonymous",
		})
		, style: function(feature) {

			this_style = feature.get('styleUrl');

			{# strange: only for the 'styleURL' field, the response of feature.get includes the rest of the URL, not just the field value (other KML fields work!) #}
			{# as a workaround, a string operation extracts the style id by cutting of the rest #}
			this_style = '#' + this_style.split("#").pop();

			switch(this_style) {
				{% for classification in layer.category.classifications %}
					{% for style in classification.styles %}
						case '#{{ style.slug }}':
							if ({{ style.slug }}.getText()) {
								{{ style.slug }}.getText().setText(feature.get('name'));
							}
							return {{ style.slug }};
					{% endfor %}
				{% endfor %}
			}

		}
		/*
		, style: function(feature) {
					LabelStyle.ugettext().setText(feature.get('name'));
					return LabelStyle;
				}
		*/
		, declutter: false
		{% if layer.category.min_scale %}, minResolution: {% if crs.active.utm %}{{ layer.category.min_scale }}{% else %}{{ layer.category.min_scale }} / {{ settings.WGS84_TO_UTM_SCALE_FACTOR }}{% endif %}{% endif %}
		{% if layer.category.max_scale %}, maxResolution: {% if crs.active.utm %}{{ layer.category.max_scale }}{% else %}{{ layer.category.max_scale }} / {{ settings.WGS84_TO_UTM_SCALE_FACTOR }}{% endif %}{% endif %}
	});


	{# FIXME: Quick layer order from front to back: point -> line -> polygon #}
	{{ layer.slug }}_kml.setZIndex( (-1 * {{ layer.dims }}) + 10 || 0);

	map.addLayer({{ layer.slug }}_kml);

</script>
