{% extends "base.html" %}
{% load static %}
{% load i18n %}
{#% load custom_filters %#}


{% block title %}{{ settings.ORGANIZATION_NAME_ABBREVIATED }} {% trans 'Maps' %}{% endblock title %}

{% block content_title %}{% endblock content_title %}


{% block content %}

	<div id="fullscreen" class="m-0 row fullscreen h-100">


		<!-- <div id="map" class="m-0 p-1 col-sm-12 col-md-8 col-lg-9 col-xl-10 h-100"> -->
		<div id="map" class="m-0 pr-1  p-0 h-100 col col-lg-9 col-xl-10">
		</div>


		<!-- map JS logic -->
		<script>
			{% include 'mapping/register-background-layers.js' with map='map' %}
		</script>


		<div class="col col-1 m-0 m-0 p-0 pr-1 h-100 d-lg-none" id="toggle_div">
			<button class="btn btn-info h-100 w-100" id="toggle_sidepanel_and_map">&lt;<br>&gt;</button>
		</div>


		<!-- sidepanel on lg screens and onwards -->
		<nav class="col h-100 m-0 p-0 d-none d-lg-block" id="sidepanel">

			<div class="p-2 mb-1" style="background-color: {{ settings.THEME_COLOR }};">

				<!-- <div class="btn-group" role="group" aria-label="{% trans 'Design horizon' %}"> -->
				<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">

					<div class="input-group">

						<div class="input-group-prepend">

							<button type="button" class="input-group-text m-0 p-1 btn" id="existing_only_toggle">
								{% if existing_only %}
									<img src='{% static "icons/gui/past_and_future.svg" %}' height="{{ settings.GUI_ICON_SIZE_PX }}" data-toggle="tooltip"
									title="{% trans 'Click to also show past and proposed features' %}";
									>
									<script>
										document.getElementById('existing_only_toggle').onclick = function() {
											wert = false; // document.getElementById("existing_only_checkbox").checked;
											setGetParameter('existing_only', wert );
										};
									</script>
								{% else %}
									<img src='{% static "icons/gui/present.svg" %}' height="{{ settings.GUI_ICON_SIZE_PX }}" data-toggle="tooltip"
									title="{% trans 'Click to show existing features only' %} ({{ design_horizon.active }})";
									>
									<script>
										document.getElementById('existing_only_toggle').onclick = function() {
											wert = true; // document.getElementById("existing_only_checkbox").checked;
											setGetParameter('existing_only', wert );
										};
									</script>
								{% endif %}
							</button>
						</div>


						<select class="form-control m-0 p-1" id="design_horizon_picklist" autocomplete="off" name="design_horizon" size="1" data-toggle="tooltip"
							title="{% trans 'Style map features considering this design horizon.' %}"
							>
							{% for the_design_horizon in design_horizon.list %}
								<option {% if the_design_horizon == design_horizon.active %}selected{% endif %} value="{{ the_design_horizon }}" >{{ the_design_horizon }}</option>
							{% endfor %}
						</select>

						<script>
							document.getElementById('design_horizon_picklist').onchange = function() {
								wert = document.getElementById("design_horizon_picklist").value;
								setGetParameter('design_horizon', wert );
							};
						</script>


					</div> <!-- input group -->


					<div class="btn-group" role="group" aria-label="First group">

						<select class="form-control m-0 p-1" id="crs_picklist" autocomplete="off" name="crs_picklist" size="1" data-toggle="tooltip"
							title="{% trans 'Coordinate reference system for map' %}"
							>
							{% for the_crs in crs.list %}
								<option {% if the_crs.epsg == crs.active.epsg %}selected{% endif %} value="{{ the_crs.epsg }}">{{ the_crs.name }}</option>
							{% endfor %}
						</select>
						<script>
							document.getElementById('crs_picklist').onchange = function() {
								wert = document.getElementById("crs_picklist").value;
								setGetParameter('epsg', wert );
							};
						</script>

					</div>

					<button type="button" class="m-0 px-1 btn-sm btn btn-light"
						id="initiate_refresh" name="initiate_refresh" data-toggle="tooltip"
						>
						<img src='{% static "icons/gui/refresh.svg" %}' height="{{ settings.GUI_ICON_SIZE_PX }}" data-toggle="tooltip"
						title="{% trans 'Refresh the map sources to reflect recent GIS updates' %}";
						>
					</button>
					<script>
						document.getElementById('initiate_refresh').onclick = function() {
							setGetParameter('refresh', true );
						};
					</script>

				</div>

			</div>



			<div id="accordion">

				{% regroup layers by topic as grouped_layers %}
				{% for layer_group in grouped_layers %}

					<div class="card">

						<div class="card-header m-0 p-0" id="heading-{{ layer_group.grouper|slugify }}">
							<h5 class="m-0 p-0">
								<button class="btn w-100 {% if layer_group.grouper == topic_layer_main_feature %} btn-secondary{% else %} btn-light{% endif %}"
									data-toggle="collapse"
									data-target="#collapse-{{ layer_group.grouper|slugify }}"
									aria-expanded="{% if layer_group.grouper == topic_layer_main_feature %}true{% else %}false{% endif %}"
									aria-controls="collapse-{{ layer_group.grouper|slugify }}"
									>
									{% if layer_group.grouper %}
										{{ layer_group.grouper }}
									{% endif %}
								</button>
							</h5>
						</div>

						<div id="collapse-{{ layer_group.grouper|slugify }}"
							class="collapse{% if layer_group.grouper == topic_layer_main_feature %} show{% else %}{% endif %}"
							aria-labelledby="heading-{{ layer_group.grouper|slugify }}"
							data-parent="#accordion"
							>

							{% for layer in layer_group.list %}

								<div class="card-body m-0 px-0 py-1">
									{% include 'mapping/fragment-legend-layer.html' with layer=layer map='map' %}
								</div>

							{% endfor %}

						</div>

					</div> <!-- card -->

				{% endfor %} <!-- layer groups -->

			</div> <!-- accordion -->


		</nav>



		{# handle sidepanel pop-in at small screens #}
		<script>
			document.getElementById('toggle_sidepanel_and_map').onclick = function() {
				map_div = document.getElementById('map');
				sidepanel_div = document.getElementById('sidepanel');

				// from col-md- on, we're in narrow-view-mode
				// var toggle_classes_map=['col-2', 'col-11', 'col-lg-9', 'col-xl-10'];
				var toggle_classes_map = ['d-none', 'd-lg-block'];
				toggle_classes_map.forEach(function(the_class) {
					map_div.classList.toggle(the_class)
				})

				// FIXME: when sidepanel is toggled to visible and browser window is enlarged egain, the sidepanel keeps disappeard.
				// seems a trigger for view change is required
				var toggle_classes_sidepanel=['d-lg-none', 'd-none', 'd-lg-block'];
				toggle_classes_sidepanel.forEach(function(the_class) {
					sidepanel_div.classList.toggle(the_class)
				})
			}
		</script>


	</div><!-- fullscreen -->

{% endblock content %}


{% block extra_header %}

	{{ block.super }}

	{# load JS and CSS resources from settings #}
	{% for resource in settings.HTML_RESOURCES.webmapping.header %}
		{% if settings.HTML_RESOURCES_SERVE_LOCAL %}
			{% include 'include-resources.html' with type=resource.0 url=resource.1 %}
		{% else %}
			{% include 'include-resources.html' with type=resource.0 url=resource.2 %}
		{% endif %}
	{% endfor %}

{% endblock extra_header %}


{% block extra_footer %}

	{{ block.super }}

	{# load JS and CSS resources from settings #}
	{% for resource in settings.HTML_RESOURCES.webmapping.footer %}
		{% if settings.HTML_RESOURCES_SERVE_LOCAL %}
			{% include 'include-resources.html' with type=resource.0 url=resource.1 %}
		{% else %}
			{% include 'include-resources.html' with type=resource.0 url=resource.2 %}
		{% endif %}
	{% endfor %}


	<script>
		// register a tooltip for the Open layers custom coltrol PDF export
		$( document ).ready(function() {
			$(".export-pdf button").attr('title', 'Get a PDF of the current view.');
		});
	</script>

{% endblock extra_footer %}
