{% load i18n %}
{#% load static %#}

{# Language selector #}
<form action="{% url 'set_language' %}" class="mx-1" method="post">
	{% csrf_token %}
	<select class="form-control m-0 p-1"
		data-toggle="tooltip"
		autocomplete="off"
		title="{% trans 'Language' %}"
		data-width="fit"
		name="language"
		onchange="this.form.submit();"
		>
		{% get_current_language as LANGUAGE_CODE %}
		{% get_available_languages as LANGUAGES %}
		{% get_language_info_list for LANGUAGES as languages %}

		{% for language in languages %}
			<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>{{ language.name_local }}</option>
		{% endfor %}

	</select>
</form>
