{% load custom_filters %}
{% load i18n %}


{% if not request %}

{% else %}

	{% if not user.is_authenticated %}

		<a class="btn btn-outline-secondary" href='{% url "login" %}?{% add_to_url_get_param "next" next|default:request.get_full_path %}' data-toggle="tooltip" title='{% trans "Click here to login" %}'>{% trans "Staff login" %}</a>

	{% else %}

		{% with login_button_css_class='btn btn-outline-primary' %}

		{#% if user.is_superuser %#}
			{#% include 'fragment_link_login.html' with user=user login_button_css_class='btn btn-outline-danger' %#}
		{#% elif user.is_staff %#}
			{#% include 'fragment_link_login.html' with user=user login_button_css_class='btn btn-outline-primary' %#}
		{#% else %#}
			{#% include 'fragment_link_login.html' with user=user login_button_css_class='btn btn-outline-dark' %#}
		{#% endif %#}

		<a id="login-button" class="{{ login_button_css_class }}" href='{% url "logout" %}?{% pass_next_and_listed_parameters_only next|default:request.get_full_path None %}' data-toggle="tooltip" title="
			{{ user }} {% trans " is logged in. Click here to Logout" %}.

			{% if user.is_superuser %}{% trans "Administrator" %}{% else %}{% if user.is_staff %}{% trans "Staff" %}{% else %}{% trans "User" %}{% endif %}{% endif %}
			{{ user.email }}
			{{ user.first_name }} {{ user.last_name }}

			{% trans "Last login" %} {{ user.last_login|date }}
		"
		><b>{{ user }}</b></a>

		{% endwith %}

	{% endif %}

{% endif %}
