{% load static %}
{% load i18n %}
{% load custom_filters %}

<!DOCTYPE html>

	<html lang="{{ request.LANGUAGE_CODE }}">

	<head>
		<title>{% block title %}Page{% endblock title %}</title>

		<meta charset="utf-8">
		<meta name="author" content="Tobias Benjamin Wolff" >
		<meta name="date" content="2020-08-10T08:49:37+02:00">
		<meta name="description" content="{{ settings.ORGANIZATION_NAME }} Geoportal">
		<meta name="keywords" content="Geoportal, Water and Sanitation, Tanzania,">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{# caching and robots #}
		<meta http-equiv="expires" content="0">
		<meta http-equiv="CACHE-CONTROL" CONTENT="NO-STORE NO-CACHE, must-revalidate">
		<meta name="ROBOTS" content="NOINDEX, NOFOLLOW, NONE, NOARCHIVE">

		{# favicon & theme #}
		<link rel="icon" type="image/png" href='{% static "icons/logo.png" %}' />
		<meta name="theme-color" content="{{ settings.THEME_COLOR }}">

		{# load JS and CSS resources from settings #}
		{% for resource in settings.HTML_RESOURCES.base.header %}
			{% if settings.HTML_RESOURCES_SERVE_LOCAL %}
				{% include 'include-resources.html' with type=resource.0 url=resource.1 %}
			{% else %}
				{% include 'include-resources.html' with type=resource.0 url=resource.2 %}
			{% endif %}
		{% endfor %}

		{% block extra_header %}
			{{ block.super }}
		{% endblock extra_header %}
	</head>


	<!-- <body style="padding-top: 4rem;" id="the-body"> -->
	<body class="pt-1 mt-5" id="the-body">

		<header>

			{% include "navbar.html" %}

		</header>

		<main>
			<div class="container-fluid p-0 pb-0 pt-5 m-0 h-100" id="main-container">
				<h1 class="mt-2 mb-1">{% block content_title %}block content_title{% endblock content_title %}</h1>
				{% block content %}block content{% endblock content %}
			</div>
		</main>


		{# load JS and CSS resources from settings #}
		{% for resource in settings.HTML_RESOURCES.base.footer %}
			{% if settings.HTML_RESOURCES_SERVE_LOCAL %}
				{% include 'include-resources.html' with type=resource.0 url=resource.1 %}
			{% else %}
				{% include 'include-resources.html' with type=resource.0 url=resource.2 %}
			{% endif %}
		{% endfor %}

	</body>


	{# Enable tooltips for all elements with data-toggle="tooltip" #}
	<script >
		$(document).ready(function() { $('[data-toggle="tooltip"]').tooltip({'html':true, 'animation':false }) });
	</script>


	{# these tuples, submitted as a list of key/value tuples by the view() function, will not cause a reload of the page #}
	<script>
		{% if injected_html_parameter %}
			var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?{% for parameter_tuple in injected_html_parameter %}{{ parameter_tuple.0 }}={{ parameter_tuple.1 }}&{% endfor %}';
			window.history.pushState({ path: newurl }, '', newurl);
		{% endif %}
	</script>


	{% block extra_footer %}
		{{ block.super }}
	{% endblock extra_footer %}
</html>
