{% load i18n %}
{% load static %}


{% if request %} {# intranet #}

	<!--
	<li class="nav-item" data-toggle="tooltip" title='{% trans "View statistics" %}'>
		<a class="nav-link" href="/" disabled ><img src="/static/icons/gui/dashboard.svg" width="24" class="mr-1" />
		{% trans "Dashboard" %}
		</a>
	</li>
	-->



	{# WEBMAPPING LINKS #}

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			<img src="/static/icons/gui/map.svg" width="24" class="mr-1" />
			{% trans "Maps" %}
		</a>

		<div class="dropdown-menu">

			{# re-order list of maps by their topics to cluster them #}


			{% regroup maps.list by topic as grouped_maps %}
			{% for maps in grouped_maps %}

				{% if maps.grouper %}
					<h6 class="dropdown-header">{{ maps.grouper }}</h6>
				{% endif %}

				{% for map in maps.list %}
					<a class="dropdown-item" href="{{ map.href }}" >{{ map.label }}</a>
				{% endfor %}

			{% endfor %}

		</div>

	</li>


<!--
		{# THE INCIDENTS DROPDOWN MENU #}
		{# TODO: DISABLED TO NOT TEASE THE USER FOR NOT YET SUPPORTED FEATURES #}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<img src="/static/icons/gui/incidents.svg" width="24" class="mr-1" />
				{% trans "Incidents" %}
			</a>



			<div class="dropdown-menu">

				<h6 class="dropdown-header">{% trans "Reporting" %}</h6>

				{# TODO: ANY LOGGED IN USER CAN REPORT AN INCIDENT #}
				<a class="dropdown-item disabled" href="" >{% trans "Report an incident" %}</a>
				<a class="dropdown-item disabled" href="" >{% trans "Incidents reported by me" %}</a>


				{% if not user.is_staff %}
				{% endif %}


				{# TODO: FROM "STAFF" LEVEL ON, INCIDENT TRACKING IS POSSIBLE #}
				{# INCIDENTS CAN ONLY BE ASSIGNED TO ORDINARY STAFF (NOT SUPERUSERS) #}
				{% if user.is_staff and not user.is_superuser %}
					<h6 class="dropdown-header">{% trans "Tracking" %}</h6>
					<a class="dropdown-item disabled" href="" >{% trans "Track incidents assigned to me" %}</a>
				{% endif %}


				{ TODO: INCIDENTS CAN ONLY BE MANAGED BY SUPERUSERS)
				{% if user.is_superuser %}
					<h6 class="dropdown-header">{% trans "Monitor" %}</h6>
					<a class="dropdown-item disabled" href="" >{% trans "Incidents dashboard" %}</a>
				{% endif %}

			</div>
		</li>
-->
			{% if settings.USE_LOGINS %}
				{# A LINK TO ADMIN PAGE #}
				{% if user.is_staff %}
					<li class="nav-item" data-toggle="tooltip" title='{% trans "Documentation" %}'>
						<a class="nav-link" href="/admin/"  >
							<img src="/static/icons/gui/admin.svg" width="24" class="mr-1" />
							{% trans "Manage logins" %}
						</a>
					</li>
			{% endif %}

		{% endif %}


	{# A LINK TO MANUALS #}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			<img src="/static/icons/gui/manual.svg" width="24" class="mr-1" />
			{% trans "Manuals" %}
		</a>

		<div class="dropdown-menu">

			<!-- <h6 class="dropdown-header">{#% trans "My GIS" %#}</h6> -->
			<!-- <a class="dropdown-item disabled" href="" >{% trans "User and Admin reference manual (2020)" %}</a> -->

			<!-- <h6 class="dropdown-header">{#% trans "Online Support" %#}</h6>
			<a class="dropdown-item" href="https://gitlab.com/wssa-gis-support-tz/qgis-support" >{% trans "QGIS support WIKI page" %}</a> -->

			<!-- <h6 class="dropdown-header">{% trans "Source code" %}</h6> -->
			<a class="dropdown-item" href="https://gitlab.com/wssa-gis-support-tz/geoportal" >{% trans "Source code repository" %}</a>

		</div>
	</li>

{% else %}{# www access #}

	{# TODO #}

{% endif %}
