{% load i18n %}
{% load static %}


<nav class="navbar fixed-top navbar-expand-lg justify-content-between navbar-light" style="background-color:{{ settings.THEME_COLOR }};"> <!-- navbar-light bg-light -->

	{# navbar left content #}

	<a data-toggle="tooltip" title="{{ settings.ORGANIZATION_NAME }}" class="navbar-brand mr-0 mr-md-2" href="/" aria-label="">
		<img src="{% static 'icons/logo.png' %}"
			height="28"
			alt="{% trans 'Start' %}"
			class="d-inline-block mr-2"
		>
			{{ settings.ORGANIZATION_NAME_ABBREVIATED }}
		<i><b>Geoportal</b></i>
	</a>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	{# navbar centered content #}
	<div class="collapse navbar-collapse" id="navbarCollapse">

		<!--
		<form>
			<select class="form-control" id="db_picklist" autocomplete="off" name="db_picklist" size="1" data-toggle="tooltip" title="{% trans 'As a development option for Admin status login: select the name your testing database here' %}" >
				{% for db in settings.DATABASE_NAMES %}
					<option {% if settings.DATABASES.geodatabase.NAME == db%}selected{% endif %} value="{{ db }}">{{ db }}</option>
				{% endfor %}
			</select>
			<script>
				document.getElementById('db_picklist').onchange = function() {
					wert = document.getElementById("db_picklist").value;
					setGetParameter('db', wert );
				};
			</script>
		</form>
		-->

		<ul class="navbar-nav ml-auto mr-auto">
			{% include "navbar-menu.html" %}
		</ul>


		{# navbar right content #}
		{% if request %}


			{% include "action-language-selector.html" %}

			{% if settings.USE_LOGINS %}
				{% include "action-login-button.html" %}
			{% endif %}

		{% else %}
			{# show date only, if it's a static version of the page #}
			<div class="navbar-text mr-3">
				{% now "DATETIME_FORMAT" %}
			</div>
		{% endif %}


	</div> <!-- navbar-collapse -->

</nav>
