{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ settings.ORGANIZATION_NAME_ABBREVIATED }} Login{% endblock title %}
{% block content_title %}{{ settings.ORGANIZATION_NAME_ABBREVIATED }} staff login{% endblock content_title %}


{% block extra_header %}{% endblock extra_header %}

{% block content %}

	{% if not user.is_authenticated %}

		<div class="jumbotron bg-light">
			<div class="container">
				{% crispy form %}
			</div>
		</div>

		{# <p>Springen Sie z.B. mit <kbd>TAB</kbd> zur weiter Passworteingabe.</p> #}
		{# <p>Sie werden i.d.R. auf die Seite weitergeleitet, bei der Sie vorher waren bzw. zu der Sie wollten, es aber wegen fehlendem Login noch nicht konnten.</p> #}

	{% else %}

		<div class="card border-primary">
			<div class="card-body text-primary">
				<h4 class="card-title">{% trans "You are currently logged in as <kbd>{{ user }}</kbd>kbd>" %}</h4>
				<p class="card-text">{% trans "To switch the user, log out first by clicking the user button" %}</p>
			</div>
		</div>

	{% endif %}


{% endblock content %}

{% block extra_footer %}{% endblock extra_footer %}
